.navbar-nav{
  flex-direction:row ;
  --bs-nav-link-padding-x: 1rem;
  
  
}

.brand{

  position: relative;
  width: 140px;
  height: 50px;
  
}

nav{
  background-color:#3a617e;
  
}

.nav-link{
  color: #EAE0D5;
  font-size: 14px;
  font-style: oblique;
}

.nav-link:hover{
  color:#C6AC8F ;
}

.navbar{

  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  padding-top: 0.005px;
  padding-right:0 ;
  padding-bottom:0.005px;
  padding-left:0;
}


.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

h1,.h1{
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#e7f1ff;
  margin-left: 30px;
  letter-spacing: .5rem;
  text-shadow: #3a617e 1px 1px;
  
  

  
}


.col-6{
  padding-top: 20px;
  color:#4e4336;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: large;

}

.banner{

position: relative;
background-image: url(img/guitar.jpg);
height: 600px;
}

div.container-fluid{
  padding: 0;
}

div.carousel-item{
  height: 500px;
}

.wrapper1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           {
  
  text-align: center;
 
} 
/* 
.testimonials{
  
  background-color: #C6AC8F;
  height: 300px;
} */
div.container{
  padding-top: 40px;
  padding-left: 0%;
  padding-right: 0%;
  height: 200px;
}

.col-3{
  position: relative;
  top:-150px;
}

.card-img-top{
height: 200px;


}

div.card{
  border: #5E503F 5px solid;
  height: 550px;
  text-align: center;
}


.card-course{
  border: 5px rgb(143, 141, 141) solid;
  background-color: #e8dfd4;
  border-radius: 20px;


  
}
.abt{
  position: relative;
  bottom:340px

  
  }
h3{
  letter-spacing: .5rem;
}
.logo{
  padding-top: 30px;
  width: 200px;
  padding-bottom: 20px;
  
}
.wrapper2{
  text-align: center;
 
}

.banner-sm{
  background-image: url(img/fat.jpg);
  position: relative;
  height: 600px;
  object-fit:contain;
  
}
.col-5{
  position: relative;
 
  }
.self{
  width:50%;
  display: block;
  margin-left:auto;
  margin-right: auto;
  border: #3a617e 10px solid;
}
.dev{
  text-align: center;
  padding-bottom: 30px;
}

div.container-sm{
  background-color: #f5f5f5;
}

.justify-content-left{
  position: relative;
  top:100px;
  left: 200px;
  
}
.body{
  background-color: #e9dfd4;
}
.card-title, .card-text{
  text-align: center;
 margin:10px;

}

tr:hover{
  background-color: #d6dfe8 ;
}
.courses{
  background-color: #e7f1ff;
}

.logo1{
  height: 100px;
  width: 200px;
  justify-content: center;
  padding-left: 70px;
  padding-top: 20px;
}

strong{
  font-size: larger;
  letter-spacing: 3rem;
  color: #e7f1ff;
}